.load-more {
    margin: 0 auto;
    display: block;
    width: 200px;
    background-color: rgb(51, 163, 197);
    outline: none;
    border: solid rgb(15, 71, 136) 1px;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 50px;
    cursor: pointer;
}